
body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebf8d6;
    /* background-image: url(for.jpg);
    background-size: contain;
    background-position: center; */
  }

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h2 {
    text-align: center;
    
}

  form {
    display: flex;
    flex-direction: column;
}
  
  label {
      margin-bottom: 5px;


  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  